<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<h2 class="<%= result_style(@test_passage) %>" >
  Your result: <%= @test_passage.result_to_percent %>%
</h2>
<%= link_to t('.button'), tests_path%>
