@import "bootstrap";
@import "typography/icons";
@import "global";

table {
  margin-top: 8px;

  td, th {
    text-align: center;
  }
}

.progress-container {
  background-color: lightgrey;
  width: 100%;
  margin-top: 5px;
  height: 20px;
}

.progress-bar {
  height: 20px;
  background-color: green;
}

.badge-img {
  padding: 25px;
}

.badge-card {
  margin-bottom: 25px;
}
