.flash {
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
}

.alert {
  border-color: #ef2727;
  background-color: rgba(255, 0, 0, 0.2);;
  color: #ef2727;
}

.notice {
  border-color: #ef2727;
  background-color: rgba(255, 0, 0, 0.2);;
  color: #ef2727;
}
