<h1>All tests</h1>
<%= link_to 'Create New Test',  new_test_path %>
<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Level</th>
    <th>Questions</th>
    <th colspan="3">Actions</th>
  </tr>

  <%= render @tests %>

</table>
